.GameGrid {
    text-align: center;
    height: 720px;
    width: 72%;
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 3%;
}

.nameInput {
    width: 180px;
    text-align: center;
}

.steps {
    margin-top: 1em;
    margin-bottom: 1em;
}